---
import Container from './Container.astro'
---

<footer class='text-white'>
  <Container>
    <small>
      Copyright &copy;
      <span id="copyright"></span> | All rights reserved
    </small>
  </Container>
</footer>

<script>
  document.querySelector('#copyright').textContent = new
  Date().getFullYear().toString();
</script>
