
<div class='grid grid-cols-2'>
  <div>
    <img class='h-5/6' src='src/assets/avatar.png' alt='Avatar image' loading='lazy' />
  </div>
  <div class='flex flex-col'>
    <span class='text-4xl font-medium'>Deep dive into Productivity and Development. Grow with me.</span>
    <span class='text-lg font-light'>I am a developer by trade and a life-long learner by design.</span>
  </div>
</div>